@charset "utf-8";


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 01)*/
div.c_page {
  position: relative; display: flex;
  flex-direction: column; align-items: stretch;
  width: 400px; height: 300px;
  margin: 0px 0px 10px 0px; padding: 1px 4px 1px 4px;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid darkslategrey;
  font-size: 0px; overflow: hidden;
  /* box-shadow: 3px 3px 3px black; */
}

div.c_page>span.c_tname {
    /* display: inline; */
  /* display: none; */
  align-self: flex-start;
  margin: 0px; padding: 0px;
  background-color: aquamarine;
  font-size: 12px; font-weight: bold;
	color: dimgray; text-align: left;
}

div.c_page>textarea.c_tam {
  flex-grow: 1;
  /* position: relative; display: block; */
  /* width: calc(100% - 10px); height: calc(100% - 51px); */
  /* width: 100vw; */
  /* left: 0px; top: 0px;
  right: 0px; bottom: 0px; */
  margin: 4px 0px 4px 0px; padding: 3px;
  background-color: whitesmoke;
  box-sizing: border-box;
  border: 1px solid dimgray;
  border-style: dashed;
  font-family: 'Consolas', 'Malgun Gothic';
  font-size: 11px; color: black;
  resize: none;
}

div.c_page>textarea.c_tam:focus {
  outline: none;
}
/*#endregion*/


div.c_page>div.c_btc {
  /* position: absolute; display: block; */
  background-color: transparent;
  width: auto; height: auto;
  overflow: auto; font-size: 0px;
  white-space: nowrap;
  padding-right: 7px;
  /* right: 7px; bottom: 5px; */
  text-align: right;
}

div.c_btc>button.c_bt {
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  box-sizing: border-box;
  border: 1px dashed transparent;
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
  transition: border-color 0.3s ease-out;
}

div.c_btc>button.c_bt:hover {
  transition-duration: 0s;
  border-color: thistle;
}

div.c_btc>button.c_bt>span {
  position: static; display: inline-block;
  width: auto; height: auto;
  padding: 0px 1px 1px 1px;
  pointer-events: none;
  font-family: 'Consolas', 'monaco', 'monospace';
  font-size: 11px;
}

div.c_btc>button.c_bt:active>span {
  transform: translate(1px, 1px);
}