/*#region >>> html, body*/
html, body {
    background-color: black;
    width: 100vw; height: 100vh;
    margin: 0px; padding: 0px;
    font-family: 'Malgun Gothic', 'Consolas', 'monaco', 'monospace';
    font-size: 12px;
    overflow: hidden;
    user-select: none;
}
/*#endregion*/



/*#region >>> 컨테이너 구조*/
div.c_root {
    background-color: transparent;
    width: 100%; height: 100%;
    overflow: auto;
}

div.c_pageCont {
    background-color: transparent;
    width: 100%; height: 100%;
    font-size: 0px;
    white-space: nowrap;
    overflow: auto;
}

div.c_footer {
    background-color: transparent;
    position: absolute;
    width: auto; height: auto;
    overflow: auto;
    font-size: 0px;
    white-space: nowrap;
    right: 10px; bottom: 30px;
}
/*#endregion*/



/*#region >>> 페이지 iframe*/
div.c_pageCont>iframe.c_ifr {
    width: 500px; height: calc(100vh - 60px);
    background-color: transparent;
    box-sizing: border-box;
    border: 10px solid rebeccapurple;
    display: inline-block;
}
/*#endregion*/



/*#region >>> 하단 버튼 스타일*/
div.c_footer>button.c_bt {
    background-color: goldenrod;
    box-sizing: border-box;
    border: 1px dashed transparent;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    transition: border-color 0.3s ease-out;
}

div.c_footer>button.c_bt:hover {
    transition-duration: 0s;
    border-color: whitesmoke;
}

div.c_footer>button.c_bt>span {
    display: inline-block;
    width: auto; height: auto;
    padding: 2px 3px 2px 3px;
    pointer-events: none;
    font-size: 11px;
}
div.c_footer>button.c_bt:active>span {
    transform: translate(1px, 1px);
}
/*#endregion*/

div.c_footer>div.c_hwk {
    position: relative; background-color: red;
    width: 40px; height: 3px; left: 0px; top: 0px;
    transform: translate(0px, -1px);
}

