html, body {
    background-color: cadetblue;
    margin: 2px; padding: 0px;
    font-family: 'Malgun Gothic', 'Consolas', 'monaco', 'monospace';
    font-size: 12px;
    overflow: hidden;
    user-select: none;
}

div.c_root {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    width: auto; height: calc(100vh - 40px);
    display: block; background-color: cadetblue;
    overflow: hidden;
}

div.c_root>span.c_tname {
    display: block; background-color: transparent;
    margin: 0px; padding: 0px;
    font-weight: bold; font-size: 17px;
}

div.c_root>svg.c_svg {
    display: block; background-color: darkgreen;
    width: 300px; height: 200px;
    margin: 3px 0px 0px 0px; padding: 0px;
    border: 3px solid black;
    cursor: pointer;
    shape-rendering: optimizeSpeed;
}

div.c_root>textarea.c_tam {
    width: calc(100% - 10px); height: calc(100% - 30px);
    box-sizing: border-box;
    margin: 3px 0px 0px 0px; padding: 5px;
    border: 3px solid black;
    background-color: whitesmoke;
    resize: none; outline: none;
    font-weight: normal; font-size: 11px;
}

div.c_root>textarea.c_tam2 {
    width: calc(100% - 20px); height: calc(100% - 239px);
    box-sizing: border-box;
    margin: 3px 0px 0px 0px; padding: 5px;
    border: 3px solid black;
    background-color: whitesmoke;
    resize: none; outline: none;
    font-weight: normal; font-size: 11px;
}


div.c_footer {
    background-color: transparent;
    position: absolute;
    width: auto; height: auto;
    overflow: auto;
    font-size: 0px;
    white-space: nowrap;
    right: 5px; bottom: 5px;
}

div.c_footer>span.c_tip {
    font-weight: bolder;
    font-size: 11px;
}

/*{########## 하단 버튼 스타일*/
div.c_footer>button.c_bt {
    background-color: darkblue;
    color: whitesmoke;
    box-sizing: border-box;
    border: 1px dashed transparent;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    transition: border-color 0.3s ease-out;
}

div.c_footer>button.c_bt:hover {
    transition-duration: 0s;
    border-color: thistle;
}

div.c_footer>button.c_bt>span {
    display: inline-block;
    width: auto; height: auto;
    padding: 0px 1px 0px 1px;
    pointer-events: none;
}

div.c_footer>button.c_bt:active>span {
    transform: translate(1px, 1px);
}
/*}##########*/
