@charset "utf-8";


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 01)*/
html, body {
  background-color: transparent;
  width: 100vw; height: 100vh; margin: 0px; padding: 0px;
  font-family: 'Consolas', 'Courier New', 'monospace';
  font-size: 0px; color: black; white-space: nowrap;
  overflow: hidden; user-select: none;
}
/*#endregion*/


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 02)*/
div.c_rootCont {
	background: linear-gradient(darkgray, whitesmoke);
	width: 100%; height: 100%;
	overflow: auto;
}

div.c_leftMenuCont {
  position: relative; display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 150px; height: 100vh;
  box-sizing: border-box;
  border-color: aquamarine;
  border-width: 0px 5px 0px 0px;
  border-style: solid;
  overflow-x: hidden; overflow-y: hidden;
  padding: 10px 0px 0px 0px;
}

div.c_pageCont {
  display: inline-block;
  width: auto; height: 100%;
  overflow: auto; scroll-behavior: auto;
}
/*#endregion*/


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 03)*/
div.c_leftMenuCont>button.c_mbtn {
  display: block;
  width: 200px; height: 30px;
  margin: 0px 0px 3px 0px;
  padding: 0px 0px 1px 1px;
  background-color: aquamarine;
  box-sizing: border-box;
  border: 3px dashed transparent;
  border-radius: 5px; cursor: pointer;
	color: dimgray; text-align: left;
  font-family: inherit;
  font-size: 13px; font-weight: bold;
  transition: border-color 0.3s ease-out;
}

div.c_leftMenuCont>button.c_mbtn:hover {
  transition-duration: 0s;
  border-color: dimgray;
}

div.c_leftMenuCont>button.c_mbtn>span {
  display: inline-block;
  width: auto; height: auto;
  padding: 0px 0px 0px 3px;
  pointer-events: none;
}

div.c_leftMenuCont>button.c_mbtn:active>span {
  transform: translate(1px, 1px);
}
/*#endregion*/


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 04)*/
div.c_leftMenuCont>span.c_pinRect {
	position: absolute; display: inline-block;
	width: 4px; height: 30px;
	right: 0px; top: 0px;
	box-sizing: border-box;
  border-color: transparent;
  border-style: solid;
  border-width: 3px 0px 3px 0px;
	background-color: blue;
  pointer-events: none;
}

div.c_leftMenuCont>span.c_pinFold {
	position: absolute; display: inline-block;
	width: 17px; height: 20px;
	right: 0px; bottom: 5px;
	border-radius: 5px 0px 0px 5px;
	background-color: red; cursor: pointer;
}
/*#endregion*/
