/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 00)*/
html, body {
  background-color: black;
  width: 100%; height: 100%; margin: 0px; padding: 0px;
  font-family: 'Consolas', 'monospace', 'monaco', 'Courier New';
  font-size: 0px; color: black; white-space: nowrap;
  overflow: hidden; user-select: none;
}
/*#endregion*/


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 01)*/
div.c_root-cont {
	position: relative;
	background: linear-gradient(darkgray, whitesmoke);
	width: 100%; height: 100%;
	overflow: hidden;
}

div.c_root-cont>div.c_content-cont {
  position: absolute;
  min-width: 200px; min-height: 100px;
  left: 10px; top: 10px;
  right: 260px; bottom: 40px;
  background-color: black;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 1px 1px 5px;
  overflow: hidden;
}

div.c_content-cont>div.c_viewport {
  position: absolute;
  width: calc(100% - 20px); height: calc(100% - 20px);
  background: transparent;
  overflow: hidden;
  pointer-events: none;
}

div.c_viewport>div.c_body {
  position: absolute; display: inline-block;
  /* width: 513px; height: 377px; */
  width: 500px; height: 400px;
  background-color: darkslategrey;
  box-sizing: border-box;
  border: 2px solid red;
  background-image: url(./img_2.png);
  background-repeat: no-repeat;
  background-position: left top;
}

div.c_content-cont>div.c_scroll-cont {
  position: absolute;
  width: 100%; height: 100%;
}
/*#endregion*/


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 02)*/
div.c_scroll-cont>div#bscr {
  position: absolute;
  left: 0px; top: 0px;
  width: calc(100% - 20px); height: calc(100% - 20px);
  cursor: pointer; opacity: 0.05;
}

div.c_scroll-cont>div#bscr>div {
  position: relative;
  width: 100%; height: 100%;
  left: 0px; top: 0px;
  background-color: #748B96;
  pointer-events: none; overflow: visible;
}

div.c_scroll-cont>div#bscr>div>span {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  user-select: none; white-space: nowrap;
  font-size: 10px; color: #ffffff66;
}

div.c_scroll-cont>div#hscr {
  position: absolute;
  left: 0px; bottom: 0px;
  width: calc(100% - 20px); height: 20px;
  background-color: darkblue;
  cursor: pointer;
  box-shadow: inset 0 0 10px;
}

div.c_scroll-cont>div#hscr>div {
  position: relative;
  width: 100%; height: calc(100% - 20px);
  left: 0px; top: 0px;
  background-color: #748B96;
  pointer-events: none; overflow: visible;
  /* box-sizing: border-box; */
  /* border: 3px solid #595959; */
  /* border: 2px solid whitesmoke; */
  /* border-radius: 10px; */
  /* height: 40px - calc(2px * 2); */
  /* margin: 2px 0px; */

  box-shadow: inset 0 0 10px;
  /* box-shadow: inset 0px 0px 5px rgba(0,0,0,0.7); */
  /* box-shadow: inset -2px -2px 5px rgba(255,255,255,0.5); */
  /* border: 1px solid rgba(0,0,0,0.05); */
}

div.c_scroll-cont>div#hscr>div>span {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  user-select: none; white-space: nowrap;
  font-size: 10px; color: #ffffff66;
}

div.c_scroll-cont>div#vscr {
  position: absolute;
  right: 0px; top: 0px;
  width: 20px; height: calc(100% - 20px);
  background-color: darkblue;
  cursor: pointer;
  box-shadow: inset 0 0 10px;
}

div.c_scroll-cont>div#vscr>div {
  position: relative;
  width: 100%; height: 100%;
  left: 0px; top: 0px;
  background-color: #748B96;
  pointer-events: none; overflow: visible;
  /* box-sizing: border-box;
  border: 3px solid #595959; */

  box-shadow: inset 0 0 10px;
}

div.c_scroll-cont>div#vscr>div>span {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  user-select: none; white-space: nowrap;
  font-size: 10px; color: #ffffff66;
}
/*#endregion*/


/*#region ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 03)*/
div.c_root-cont>div.c_input-cont {
	position: absolute;
	width: 240px; height: 200px;
	right: 10px; top: 10px;
	background: darkslategray;
	box-sizing: border-box;
	border: 1px solid black;
	box-shadow: 1px 1px 5px;
	overflow: hidden;
  padding: 3px;
}

div.c_input-cont>textarea.c_tam {
  display: block;
  width: 100%; height: calc(100% - 30px);
  box-sizing: border-box;
  margin: 0px; padding: 5px;
  background-color: darkgray;
  font-family: inherit; font-weight: normal;
  font-size: 11px; color: black;
  resize: none; outline: none;
}
/*#endregion*/

